.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .nav-header {
    padding: 0px;
    margin: 0px;
    text-align: left;
  }