.openaire-main {
	padding: 0;
	margin: 0;
	width: 100%;
	

}

.openaire-title {
	padding: 0;
	margin: 50px;
	width: 55%;
}

.openaire-content {
	margin-left: 50px;
	margin-top: 10px;
	width: 55%;
	display: flex;
	flex-direction: column;
}

.title-repo {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid;
	padding-bottom: 15px;
}

.space {
	flex: 1 0;
}

.openaire-repo {
	min-width: 60%;
	margin-top: 25px;
}

.repo-content table, th, td {
	padding:15px;
	text-align: left;
}